@import '../../styles/colours';
@import '../../styles/variables';
@import '../../styles/mixins';

.item {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  width: fit-content;

  &:last-child {
    margin-bottom: 0;
  }

  .avatar {
    width: 128px;
    height: 128px;
    border-radius: 1rem;
    margin: 0;
    &[wobble='1'] {
      animation: shakeAvatar 0.8s 1;
    }
  }
  .description {
    margin-left: $small-margin;
    padding: $small-margin;

    .name {
      margin: 0 0 $small-margin 0;
      padding: 0;
    }

    .excerpt {
      margin: 0;
    }
  }
}

//Animations
@keyframes shakeAvatar {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg) scale(1.25);
  }
  70% {
    transform: rotate(10deg) scale(0.8);
  }
}
