@import '../../styles/colours';
@import '../../styles/variables';
@import '../../styles/mixins';

@include keyframes(shakeAvatar) {
  10% {
    transform: rotate(15deg) scale(1.05);
  }
  40% {
    transform: rotate(-20deg) scale(1.1);
  }
  70% {
    transform: rotate(5deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.item {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  width: fit-content;
}

.item:last-child {
  margin-bottom: 0;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 1rem;
  margin: 0;
  &[wobble='1'] {
    @include animation(shakeAvatar 0.8s 1);
  }
}

.description {
  margin-left: $small-margin;
  padding: $small-margin;
}

.name {
  margin: 0 0 $small-margin 0;
  padding: 0;
}

.excerpt {
  margin: 0;
}
