$vibeyYellowColour: rgba(249, 200, 14, 1);
$textColour: rgba(25, 23, 22, 1);
$vibeyPurpleColour: rgba(102, 44, 145, 1);
$backgroundColour: rgba(224, 226, 219, 1);
$vibeyBlueColour: rgba(67, 188, 205, 1);
