@import 'colours';
@import 'variables';

body {
  background-color: $backgroundColour;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $textColour;
  }
  a {
    &:hover,
    &:focus {
      color: $vibeyPurpleColour;
      text-decoration-line: underline;
      border: none;
      outline: none;
    }
    &:active {
      color: $vibeyBlueColour;
    }
  }

  ::-webkit-scrollbar {
    width: $small-margin;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $vibeyPurpleColour;
    border-radius: $border-radius;
  }
}
