@import 'colours';

body {
  background-color: $backgroundColour;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $textColour;
  }
  a {
    &:hover,
    &:focus {
      color: $vibeyPurpleColour;
      text-decoration-line: underline;
    }
    &:active {
      color: $vibeyBlueColour;
    }
  }
}
