@import 'colours';

body {
  background-color: $colour4;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $colour2;
  }
  a {
    &:hover,
    &:focus {
      color: $colour3;
      text-decoration-line: underline;
    }
    &:active {
      color: $colour5;
    }
  }
}
