@import '../../styles/colours';
@import '../../styles/variables';

.socketChatContainer {
  width: 100%;
  margin: auto;

  .chatSummary {
    display: flex;
    margin-bottom: $medium-margin;
    h4 {
      margin-top: 0;
    }
    .personalSummary {
      flex-basis: 30%;
      margin: 0 auto;
    }
    .lobbySummary {
      flex-basis: 30%;
      margin: 0 auto;

      .listOfUsers {
        max-height: 10vh;
        overflow-y: auto;
      }
    }
  }

  .messageFeed {
    border-color: $vibeyPurpleColour;
    border-style: solid;
    border-width: $border-thin;
    border-radius: $border-radius;
    background: white;

    max-height: 40vh;
    min-height: 5vh;
    overflow-y: auto;

    .messageSlot {
      border-bottom-width: $border-thin;
      border-bottom-style: solid;
      border-bottom-color: $textColour;
      & > p {
        margin: $small-margin;
      }
    }
  }

  .messageEntry {
    margin: $small-margin 0;
    display: flex;
    textarea {
      border-color: black;
      border-width: $border-thin;
      border-radius: $border-radius;
      flex-basis: 80%;
      max-height: 20vh;
      resize: none;
      overflow-y: auto;
    }
    input[type='submit'] {
      border-color: black;
      border-width: $border-thin;
      border-radius: $border-radius;
      flex-basis: 20%;
      background: $vibeyBlueColour;
      margin-left: $small-margin;
      height: 5vh;
      min-width: 3rem;
    }
  }
}
