@import '../../../styles/colours';
@import '../../../styles/variables';

.header {
  margin-bottom: 2rem;
  .headerText {
    display: inline;
  }

  .navBar {
    list-style: none;
    float: right;
    margin-left: 0;

    .navBarLink {
      display: inline-flex;

      &:not(:last-child) {
        margin-right: $medium-margin;
      }
    }
  }
}
