@import '../../styles/colours';
@import '../../styles/variables';

.mainLayout {
  margin: $large-margin auto;
  // max-width: $max-content;
  // min-width: $min-content;
  width: $content-width;
  min-width: 20rem;
  padding: 0 $medium-margin;
}
